<title>Entreprises à découvrir</title>

<!-- Title Header Start -->
<section class="inner-header-title" style="background-image:url(assets/img/banner-4.jpg);">
    <div class="container">
        <h1>Entreprises à découvrir</h1>
    </div>
</section>
<div class="clearfix"></div>
<!-- Title Header End -->



<!-- Browse Company List Start -->
<section class="browse-company">
    <div class="container">

        <div class="row extra-mrg">
            <div class="wrap-search-filter">
                <form (ngSubmit)="onSubmit()">

                    <div class="col-md-7 col-sm-7">
                        <input type="text" class="form-control" placeholder="Mots clés" [(ngModel)]="keywords"
                            name="keywords">
                    </div>


                    <div class=" col-md-5 col-sm-5">
                        <button type="submit" class="btn btn-success full-width">Filtrer</button>
                    </div>


                </form>

            </div>
        </div>
        <!-- Single Browse Company -->
        <div style="    margin: auto;
            width: max-content;
            padding: 100px;" *ngIf="loading">
            <mat-spinner></mat-spinner>
        </div>
        <div *ngIf="loading ==false">
            <div class="item-click" *ngFor="let c of companies">
                <article>
                    <div class="brows-company">
                        <div class="col-md-2 col-sm-2">
                            <div class="brows-company-pic">
                                <a routerLink="/entreprise/{{c._id}}"><img src="{{c.icon}}" class="img-responsive"
                                        alt="" /></a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="brows-company-name">
                                <a routerLink="/entreprise/{{c._id}}">
                                    <h4>{{c.name}}</h4>
                                </a>
                                <span class="brows-company-tagline">{{c.secteur}}</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="brows-company-location">
                                <p><i class="fa fa-map-marker"></i> {{c.location}}</p>
                            </div>
                        </div>
                        <!-- <div class="col-md-2 col-sm-2">
                                <div class="brows-company-position">
                                    <p>04 Opening</p>
                                </div>
                            </div> -->
                    </div>
                </article>
            </div>
        </div>

        <mat-paginator [length]="companiesCount" [pageSize]="companiesPerPage" label="" (page)="onChangedPage($event)">
        </mat-paginator>



    </div>
</section>
<!-- Browse Company List End -->