<title>Mon Compte</title>

<div class="Loader"></div>
<div class="wrapper">
    <div class="clearfix"></div>

    <!-- Title Header Start -->
    <section class="inner-header-title" style="background-image:url(assets/img/banner-10.jpg);">
        <div class="container">
            <h1>Mon Compte</h1>
        </div>
    </section>
    <div class="clearfix"></div>
    <!-- Title Header End -->

    <!-- Candidate Profile Start -->
    <section class="detail-desc advance-detail-pr gray-bg" *ngIf="user">
        <div class="container white-shadow">
            <div class="row">
                <div class="detail-pic"><img
                        src="assets/img/{{user.gender=='male'?'homme':user.gender=='female'?'femme':'autre'}}.png"
                        class="img" alt="" /></div>
                <div (click)="logout()" class="detail-status"><span style="    background: lightblue!important;
                    color: black!important;
                    font-weight: 700;
                    cursor: pointer;">Déconnecter</span></div>
            </div>

            <div class="row bottom-mrg">
                <div class="col-md-12 col-sm-12">
                    <div class="advance-detail detail-desc-caption">
                        <h4>{{user.lname}} {{user.fname}}</h4>

                        <span class="designation"> <i class="fa fa-envelope"></i>&nbsp; {{user.email}}</span><span
                            class="designation">&nbsp;&nbsp;&nbsp;<i class="fa fa-phone"></i>&nbsp;
                            {{user.phone}}</span>
                        <div class="row bottom-mrg">
                            <div class="col-md-12 col-sm-12">
                                <div class="advance-detail detail-desc-caption">
                                    <ul>
                                        <li><strong class="j-applied">27</strong>Candidatures envoyées</li>
                                        <li><strong class="j-shared">4</strong>Entretiens à venir</li>
                                        <li><strong class="j-view">5</strong>Candidatures refusées</li>

                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row no-padd">
                <div class="detail pannel-footer">
                    <div class="col-md-2 col-sm-2">
                        <p>Membre depuis {{user.date |date: 'dd/MM/yyyy'}}</p>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <div class="detail-pannel-footer-btn pull-right">
                            <a routerLink="/mes-services" class="footer-btn grn-btn">Mes Services</a>
                            <a routerLink="/modifier-info" class="footer-btn blu-btn">Modifier Mes Informations</a>
                            <a routerLink="/modifier-mdp" class="footer-btn" style="background-color: gray;">Modifier
                                Mon Mot De Passe</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="full-detail-description full-detail gray-bg">
        <div class="container">
            <div class="col-md-12 col-sm-12">
                <div class="full-card">
                    <div class="deatil-tab-employ tool-tab">
                        <br><br>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="search-filter">
                                    <div class="col-md-8 col-sm-7"></div>
                                    <div class="col-md-4 col-sm-5">
                                        <div class="filter-form">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Search…">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default">Go</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div style="padding:20px">
                            <article *ngFor="let a of apps">
                                <div class="mng-company"
                                    [style]="a.status=='sent'?'background-color:#1fb6ff20;':a.status=='interview'?'background-color:#23ce0020':'background-color:#ff2a6320;' ">

                                    <div class="col-md-5 col-sm-5">
                                        <div class="mng-company-name">
                                            <h4 style="cursor: pointer;" routerLink="/offre/{{a.job._id}}">
                                                {{a.job.title}}
                                            </h4>
                                            <span class="cmp-time">Envoyée {{transform(a.date)}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <div class="mng-company-location">
                                            <p style="cursor: pointer;" routerLink="/entreprise/{{a.job.company._id}}">
                                                <i class="fa fa-building"></i> {{a.job.company.name}}
                                            </p>

                                            <p><i class="fa fa-map-marker"></i> {{a.job.location}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="mng-company-action">
                                            <select class="form-control input-lg" [(ngModel)]="a.status" name="type">
                                                <option value="sent">
                                                    Candidature
                                                    envoyée
                                                </option>
                                                <option value="interview"> Entretien
                                                    à
                                                    venir</option>
                                                <option value="rejected"> Candidature
                                                    refusée</option>
                                            </select>

                                        </div>
                                    </div>
                                </div>
                            </article>

                            <mat-paginator [length]="appsCount" [pageSize]="appsPerPage" *ngIf="apps.length > 0"
                                [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"></mat-paginator>
                        </div>




                    </div>
                    <!-- Start All Sec -->
                </div>
            </div>
        </div>
    </section>