<title>Services</title>

<section class="simple-bg-screen big-wrap" style="min-height: 1300px;
display: flex;
flex-direction: column;
justify-content: center;">
    <div class="container">
        <div class="error-page">
            <h2>B<span>i</span>ent<span>ô</span>t</h2>
            <p>Bientôt, accédez à un accompagnement personnalisé pour obtenir votre stage en informatique. Boostez votre
                réussite avec nos conseils experts et nos stratégies sur mesure.</p>
            <a routerLink="/" class="btn btn-success small-btn">Retourner à l'acceuil</a>
        </div>
    </div>
</section>