<title>Services</title>
<div class="clearfix"></div>
<div class="clearfix"></div>

<!-- Title Header Start -->
<section class="inner-header-title" style="background-image:url(assets/img/service.jpg); background-position: center;">
    <div class="container">
        <h1>Nos services</h1>
    </div>
</section>
<div class="clearfix"></div>
<!-- Title Header End -->

<section id="pricing" class="pricing section-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="box" data-aos="zoom-in" data-aos-delay="100">
                    <h3>Rédaction de lettre de motivation</h3>
                    <h4><sup>DT</sup>40</h4>
                    <p>on vous aide à élaborer des lettres de motivation qui correspondent aux offres de stage ,mettant
                        ainsi
                        en avant les compétences spécifiques recherchées .
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </p>
                    <div class="btn-wrap">
                        <a href="#" class="btn-buy">S'inscrire</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 mt-4 mt-md-0">
                <div class="box recommended" data-aos="zoom-in">
                    <span class="recommended-badge">Le plus demandé</span>
                    <h3 style="color: white;">Optimisation de CV</h3>
                    <h4 style="color: white;"><sup>DT</sup>50</h4>
                    <p style="color: white;">on vous aide à créer des CV attrayants et pertinents qui mettent en avant
                        leurs compétences
                        et leur expérience, en fonction des besoins spécifiques de l'offre de stage.
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

                    <div class="btn-wrap">
                        <a href="#" class="btn-buy">S'inscrire</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 mt-4 mt-lg-0">
                <div class="box" data-aos="zoom-in" data-aos-delay="100">
                    <h3>Simulation d'entretien</h3>
                    <h4><sup>DT</sup>180</h4>
                    <p>on vous prépare aux entretiens en organisant des sessions de simulation pour vous aider à
                        gagner en confiance et
                        en compétence, en suivant des critères d'évaluation en visioconference</p>
                    <div class="btn-wrap">
                        <a href="#" class="btn-buy">S'inscrire</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>