<title>{{company.name}}</title>

<!-- Title Header Start -->
<section class="inner-header-title" style="background-image:url(assets/img/banner-10.jpg);">
    <div class="container">
        <h1>{{company.name}}</h1>
    </div>
</section>
<div class="clearfix"></div>
<!-- Title Header End -->

<!-- Company Detail Start -->
<section class="detail-desc">
    <div class="container white-shadow">

        <div class="detail-pic">
            <img src="{{company.icon}}" class="img" alt="" />
        </div>



        <div class="row">
            <div class="main-heading">
                <h4>{{company.description}}</h4>

                <button routerLink="/admin/company/{{company._id}}/edit" class="btn btn-warning btn-warning small-btn"
                    style="margin-right: 20px;">Modifier</button>

                <button (click)="confirmDelete()" class="btn btn-danger btn-dangersmall-btn">Supprimer</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="category-box" data-aos="fade-up">
                    <div class="category-desc">
                        <div class="category-icon"><i class="fa fa-suitcase"></i></div>
                        <div class="category-detail category-desc-text">
                            <h4>{{company.secteur}}</h4>

                            <p>Secteur</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="category-box" data-aos="fade-up">
                    <div class="category-desc">
                        <div class="category-icon"><i class="fa fa-building"></i></div>
                        <div class="category-detail category-desc-text">
                            <h4>{{company.type}}</h4>

                            <p>Type</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-3 col-sm-6">
                <div class="category-box" data-aos="fade-up">
                    <div class="category-desc">
                        <div class="category-icon"><i class="fa fa-calendar"></i></div>
                        <div class="category-detail category-desc-text">
                            <h4>{{company.creationDate}}</h4>

                            <p>Date de Creation</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="category-box" data-aos="fade-up">
                    <div class="category-desc">
                        <div class="category-icon"><i class="fa fa-map-pin"></i></div>
                        <div class="category-detail category-desc-text">
                            <h4>{{company.location}}</h4>

                            <p>Localisation</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-3 col-sm-6">
                <div class="category-box" data-aos="fade-up">
                    <div class="category-desc">
                        <div class="category-icon"><i class="fa fa-globe"></i></div>
                        <div class="category-detail category-desc-text">
                            <h4>{{company.internationalPresence}}</h4>

                            <p>Présence internationale</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="category-box" data-aos="fade-up">
                    <div class="category-desc">
                        <div class="category-icon"><i class="fa fa-laptop"></i></div>
                        <div class="category-detail category-desc-text">
                            <h4><a target="_blank" href="{{company.website}}">Site Web</a></h4>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="category-box" data-aos="fade-up">
                    <div class="category-desc">
                        <div class="category-icon"><i class="fa fa-linkedin"></i></div>
                        <div class="category-detail category-desc-text">
                            <h4><a target="_blank" href="{{company.linkedin}}">Linkedin</a></h4>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="category-box" data-aos="fade-up">
                    <div class="category-desc">
                        <div class="category-icon"><i class="fa fa-twitter"></i></div>
                        <div class="category-detail category-desc-text">
                            <h4><a target="_blank" href="{{company.twitter}}">Twitter</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h4 style="float: right;">

            <br>
            <a routerLink="/admin/companies">retour aux entreprises (admin)</a>

        </h4>
    </div>
</section>

<!-- Company Detail End -->