<html lang="fr">

<head>
  <meta charset="utf-8">
  <base href="/">
  <meta name="google-adsense-account" content="ca-pub-4892871937571788">
  <meta name="description"
    content="Bienvenue sur 5dma.Pro, votre plateforme dédiée aux opportunités de stage et aux conseils essentiels pour propulser votre carrière! Chez 5dma.Pro, nous sommes passionnés par votre succès professionnel. Nous vous offrons un accès exclusif à une variété d'offres de stage captivantes, provenant d'entreprises de renom et adaptées à divers secteurs d'activité.  ">
  <meta name="keywords"
    content="Stages, Informatique, PFE, France, Developpeur, Developpement, Full Stack, Web, Mobile, Embarqué, ">
  <meta name="author" content="Marzouki Aziz">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <!-- front-->
</head>

<body>

  <router-outlet></router-outlet>

</body>

</html>