<title>5dmaPro</title>

<section class="slide-banner scroll-con-sec hero-section" data-scrollax-parent="true" id="sec1">
    <div class="slideshow-container">
        <div class="slideshow-item">
            <div class="bg" data-bg="assets/img/banner-3.jpg"></div>
        </div>
        <div class="slideshow-item">
            <div class="bg" data-bg="assets/img/banner-6.jpg"></div>
        </div>
        <div class="slideshow-item">
            <div class="bg" data-bg="assets/img/banner-5.jpg"></div>
        </div>
        <div class="slideshow-item">
            <div class="bg" data-bg="assets/img/banner-2.jpg"></div>
        </div>
    </div>
    <div class="overlay"></div>
    <div class="hero-section-wrap fl-wrap">
        <div class="container">
            <div class="intro-item fl-wrap">
                <div class="caption text-center cl-white">
                    <h2> Trouvez Votre Stage Idéal !
                    </h2>

                    <p> Explorez des milliers d'offres de stages dans le domaine informatique, toutes provenant des
                        entreprises les plus innovantes du secteur.</p>
                </div>
                <form class="form-horizontal" (ngSubmit)="onSubmit()">
                    <div class="col-md-7 no-padd">
                        <div class="input-group"><input type="text" class="form-control br-1" id="joblist"
                                [(ngModel)]="keywords" name="keywords"
                                placeholder="Compétences, désignations, entreprises"></div>
                    </div>

                    <div class="col-md-3 no-padd">
                        <div class="input-group"><input type="text" class="form-control br-1" id="joblist"
                                [(ngModel)]="location" name="location" placeholder="Localisation"></div>
                    </div>
                    <div class="col-md-2 no-padd">
                        <div class="input-group">
                            <button type="submit" class="btn btn-success full-width">Rechercher</button>
                        </div>
                    </div>
                </form>
            </div>
            <br><br>
            <h1>
                Recherches Précedentes
            </h1>
        </div>
    </div>
</section>
<div class="clearfix"></div>
<section class="first-feature">
    <div class="container">
        <div class="all-features">
            <div class="col-md-3 col-sm-6 small-padding">
                <div class="job-feature">
                    <div class="feature-icon"><i class="fa fa-desktop"></i></div>
                    <div class="feature-caption">
                        <h5>Développeur Web</h5>

                        <p>Créez des sites web interactifs et conviviaux pour diverses plateformes.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 small-padding">
                <div class="job-feature">
                    <div class="feature-icon"><i class="fa fa-gamepad"></i></div>
                    <div class="feature-caption">
                        <h5>Développeur de jeux vidéo</h5>

                        <p>Concevez, programmez et optimisez des expériences de jeux interactives.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 small-padding">
                <div class="job-feature">
                    <div class="feature-icon"><i class="fa fa-database"></i></div>
                    <div class="feature-caption">
                        <h5>Data Scientist</h5>

                        <p>Analyse de données, modélisation et interprétation pour prendre des décisions.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 small-padding">
                <div class="job-feature">
                    <div class="feature-icon"><i class="fa fa-bolt"></i></div>

                    <div class="feature-caption">
                        <h5>Ingénieur en AI</h5>

                        <p>Créez des systèmes informatiques capables d'apprentissage et d'adaptation autonomes.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 small-padding">
                <div class="job-feature">
                    <div class="feature-icon"><i class="fa fa-user-secret"></i></div>
                    <div class="feature-caption">
                        <h5>Ingénieur en cyber-sécurité</h5>

                        <p>Protégez les systèmes informatiques contre les menaces et les attaques numériques.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 small-padding">
                <div class="job-feature">
                    <div class="feature-icon"><i class="fa fa-recycle"></i></div>
                    <div class="feature-caption">
                        <h5>Ingénieur DevOps</h5>

                        <p> Optimisez le développement logiciel et la gestion opérationnelle pour une efficacité
                            maximale.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 small-padding">
                <div class="job-feature">
                    <div class="feature-icon"><i class="fa fa-android"></i></div>
                    <div class="feature-caption">
                        <h5>Développeur mobile</h5>

                        <p>Créez des applications pour smartphones et tablettes, tous systèmes d'exploitation.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 small-padding">
                <div class="job-feature">
                    <div class="feature-icon"><i class="fa fa-cloud"></i></div>
                    <div class="feature-caption">
                        <h5>Architecte Cloud</h5>

                        <p>Conçoit des infrastructures cloud évolutives et fiables pour les entreprises.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="clearfix"></div>
<section class="call-to-act">
    <div class="container-fluid">
        <div class="col-md-6 col-sm-6 no-padd bl-dark">
            <div class="call-to-act-caption">
                <h2>1. Optimisez votre CV</h2>

                <h3>
                    Un CV percutant est essentiel : clair, concis, mettant en avant compétences et réalisations.
                    Utilisez des verbes d'action, des chiffres. Personnalisez-le pour chaque poste.
                    Soyez honnête et précis sur vos qualifications et expériences.

                </h3>
                <!-- <a href="#" class="btn bat-call-to-act">Hire Us</a> -->
            </div>
        </div>
        <div class="col-md-6 col-sm-6 no-padd gr-dark">
            <div class="call-to-act-caption">
                <h2>2. Préparer Votre Entretien</h2>

                <h3>
                    La préparation à un entretien est clé : renseignez-vous sur l'entreprise, préparez des réponses
                    claires, utilisez la méthode STAR, posez des questions intelligentes et entraînez-vous pour
                    augmenter votre confiance et votre réactivité.
                </h3>
            </div>
        </div>
    </div>
</section>
<section class="brows-job-category">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Explorez les derniers postes :</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="item-click" *ngFor="let j of jobs">
                    <article routerLink="/offre/{{j._id}}">
                        <div class="brows-job-list">
                            <div class="col-md-1 col-sm-2 small-padding">
                                <div class="brows-job-company-img"><a><img src="{{j.company.icon}}"
                                            class="img-responsive" alt="" /></a></div>
                            </div>
                            <div class="col-md-6 col-sm-5">
                                <div class="brows-job-position">
                                    <a>
                                        <h3>{{j.title}}</h3>
                                    </a>

                                    <p><span>{{j.company.name}}</span><span
                                            class="job-type cl-success bg-trans-success">{{j.contract}}</span></p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="brows-job-location">
                                    <p><i class="fa fa-map-marker"></i>{{j.location}}</p>
                                </div>
                            </div>

                        </div>
                    </article>
                </div>

            </div>
        </div>
        <div style="    margin: 20px;
   text-align: -webkit-center;">
            <a style="color: #07b107;
    font-size: 20px;
    font-weight: 600;" routerLink="/offres">Voir plus ...</a>
        </div>
    </div>
</section>