<title>Modifier Mon Mot De Passe</title>

<!-- Header Title Start -->
<section class="inner-header-title blank">
    <div class="container">
        <h1>Modifier Mon Mot De Passe</h1>
    </div>
</section>
<!-- Header Title End -->

<!-- General Detail Start -->
<div class="section detail-desc" *ngIf="user">
    <div class="container white-shadow">

        <div class="row">
            <div class="detail-pic js">
                <img src="assets/img/{{user.gender=='male'?'homme':user.gender=='female'?'femme':'autre'}}.png"
                    class="img" alt="" />
            </div>
        </div>
        <div class="row bottom-mrg">

            <form class="add-feild">
                <br><br>

                <div class="col-md-6 col-sm-6">
                    <div class="input-group">
                        <label>Mot De Passe Actuel</label>
                        <input type="password" class="form-control" placeholder="*******" [(ngModel)]="old" required
                            name="old">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="input-group">
                        <label>Nouveau Mot de Passe</label>

                        <input type="password" class="form-control" placeholder="*******" [(ngModel)]="newnew" required
                            name="newnew">
                    </div>
                </div>

                <div class="row no-padd" style="border: none;">
                    <div class="detail pannel-footer">
                        <div class="col-md-12 col-sm-12">
                            <div class="detail-pannel-footer-btn pull-right">
                                <a (click)="submit()" style="cursor: pointer;" class="footer-btn choose-cover">Mettre à
                                    Jour</a>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>



    </div>
</div>
<!-- General Detail End -->