<footer class="footer">
    <div class="row lg-menu">
        <div class="container">
            <div class="col-md-4 col-sm-4"><img src="assets/img/logo-white.png" class="img-responsive" alt="" />
            </div>

        </div>
    </div>
    <div class="row no-padding">
        <div class="container">
            <div class="col-md-3 col-sm-12">
                <div class="footer-widget">
                    <h3 class="widgettitle widget-title">Notre Mission :</h3>

                    <div class="textwidget">
                        <p>Explorez Votre Avenir, Trouvez Votre Stage Avec Nous! </p>

                        <p>Paris 15ème, France</p>

                        <p><strong>Email: </strong> 5dma.pro.contact@gmail.com
                        </p>


                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="footer-widget">
                    <h3 class="widgettitle widget-title" style="text-align-last: center;">Réseaux Sociaux</h3>

                    <div class="textwidget">
                        <ul class="footer-social" style="    display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;padding: 5px 25px;">
                            <li><a href="https://www.facebook.com/5dma.pro" target="_blank"><i
                                        class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/5dma-pro/" target="_blank"><i
                                        class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="footer-widget">
                    <h3 class="widgettitle widget-title"> Navigation</h3>

                    <div class="textwidget">
                        <div class="textwidget">
                            <ul class="footer-navigation">
                                <li><a routerLink="/" title="">Acceuil</a></li>
                                <li><a routerLink="offres" title="">Offres</a></li>
                                <li><a routerLink="entreprises" title="">Entreprises</a></li>
                                <li><a routerLink="services" title="">Services</a></li>
                                <li><a routerLink="moncompte" title="">Mes Candidatures</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-4">
                <div class="footer-widget">
                    <h3 class="widgettitle widget-title">Connect Us</h3>

                    <div class="textwidget">
                        <form class="footer-form"><input type="text" class="form-control" placeholder="Votre Nom">
                            <input type="text" class="form-control" placeholder="Votre Email"><textarea
                                class="form-control" placeholder="Votre Message"></textarea>
                            <button type="submit" class="btn btn-primary">Envoyer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>