
/* Style Definitions */
p.MsoNormal, li.MsoNormal, div.MsoNormal
{margin-top:0in;
margin-right:0in;
margin-bottom:8.0pt;
margin-left:0in;
line-height:107%;
font-size:11.0pt;
font-family:"Calibri",sans-serif;}
.MsoPapDefault
{margin-bottom:8.0pt;
line-height:107%;}
@page WordSection1
{size:8.5in 11.0in;
margin:1.0in 1.0in 1.0in 1.0in;}
div.WordSection1
{page:WordSection1;}
/* List Definitions */
ol
{margin-bottom:0in;}
ul
{margin-bottom:0in;}


.content{
    position: relative;
    background: #fff;
    box-shadow: 0 5px 25px 0 rgba(41,128,185,.15);
    -webkit-box-shadow: 0 5px 25px 0 rgba(41,128,185,.15);
    border-radius: 5px;
    padding: 50px 50px 50px;
    box-sizing: border-box;
    margin-bottom: 30px;
    overflow: hidden;
    transition: .6s linear;
}